--markup markdown
--markup-provider kramdown
--output-dir doc
--protected
--private
--title "Poodle Ruby SDK Documentation"
--readme README.md
--files CHANGELOG.md,LICENSE
lib/**/*.rb
-
README.md
CHANGELOG.md
